li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
}
.item {
  border: none;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 264px;
  background-color: #f6f6fe;
  margin-bottom: 24px;
}

h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;

  /* line-height: 32px; */
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
