p {
  margin-bottom: 16px;
}

input {
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
}

h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;

  /* line-height: 32px; */
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
