.widget {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 169px;
}

p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
