.login-form {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  gap: 8px;
}

label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  align-items: center;
}
